doctype html
html
  head
    meta(charset='utf-8')
    title Add geocoding
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css', rel='stylesheet')
    style.
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
  body
    #map
    script.
      var temp = "#{user.fullName}";
      alert(temp);
      L.mapbox.accessToken = 'pk.eyJ1Ijoic29jYWxkZXYiLCJhIjoiZDY2MGE5NWZhM2I0MTljODEyYTQxMzhmYmI5ODljNDUifQ.zRANwM_bBUoK33R0VGRPHw';
      var map = L.mapbox.map('map', 'mapbox.streets')
      .addControl(L.mapbox.geocoderControl('mapbox.places'))
      .setView([40, -75], 9);
